{{#if login}}
    {{> navlogin}}
{{else}}
    {{> nav}}
{{/if}}

<div class="devcontentbody">
        <div class="devbody1container">
            <div class="logocontainer">
                <img src="{{devCompany.devCompany_logo}}" id="gamedevlogo"/>
            </div>
            <div class="gamedevrightcontainer">
                <span class="gamedevname">{{devCompany.devCompany_title}}</span>
                <span class="gamedevdesc">{{devCompany.devCompany_desc}}</span>
                <span id="gamerating-devcompany"> <!-- also works for game profile/desc-->
                        <span class="fa fa-star checked" id="starratinggame"></span>
                        <span class="fa fa-star checked" id="starratinggame"></span>
                        <span class="fa fa-star checked" id="starratinggame"></span>
                        <span class="fa fa-star checked" id="starratinggame"></span>
                        <span class="fa fa-star checked" id="starratinggame"></span>
                    </span>
            </div>
        </div>
        <div class="devbody2container">
            <div class="gameheadercontainer">
                <img src="https://lh3.googleusercontent.com/drive-viewer/AKGpihYiPBj3O8OFU014c8nL6C8ZD-7Zu7lDJQRi-3ZvXbl8Phd53Pdos7mmcPcWQyUZntwwY05_BOyA0Jbqi3htwafY_hlUhQ=s1600" id="gameheadertitle"/>
            </div>
            <div class="gamesparentcontainer">
                {{#each devGames}}
                <div class="gamescontainer" onclick="viewGame('{{game_title}}');">
                    <div class="gameimagecontainer">
                        <img src="{{game_images}}" id="gameimagedev"/>
                    </div>
                    <div class="gamedetailscontainer">
                    <span id="gametitledevcontent">
                        {{game_title}}
                    </span>
                    <div class="gamegenreandreview_container">
                    <span id="gamerating">
                        <span class="fa fa-star checked" id="starrating"></span>
                        <span class="fa fa-star checked" id="starrating"></span>
                        <span class="fa fa-star checked" id="starrating"></span>
                        <span class="fa fa-star checked" id="starrating"></span>
                        <span class="fa fa-star checked" id="starrating"></span>
                    </span>
                </div>
                
                </div>
                </div>
                {{/each}}
            </div>
        </div>
</div>